server:
  port: 8001

spring:
  application:
    name: auth-service
  profiles:
    active: dev
  cloud:
    nacos:
      server-addr: localhost:8848
      config:
        import-check:
          enabled: false
  datasource:
    driver-class-name: ${osir.datasource.driver-class-name}
    url: ${osir.datasource.url}
    username: ${osir.datasource.username}
    password: ${osir.datasource.password}

# mybatis相关配置
mybatis:
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.osir.takeoutpojo.entity
  configuration:
    #开启驼峰命名
    map-underscore-to-camel-case: true

